.container {
    .Cards {
        .Card {
            padding: 1rem;
            text-align: left;
            background-color: #fff;
            display: flex;
            .img-wrapper {
            }
            .info {
                border:1px solid #000;
                .title{
                    margin: 1rem .8rem;
                    font-size:1.7rem;
                    font-family: 'Open Sans Condensed', sans-serif;
                }
                .text {
                    padding:1rem;
                    font-family: 'Open Sans', sans-serif;
                    margin:1rem 0;
                    line-height: 1.5;
                }
            }
        }
    }
}